#panel-header-config .input-log {
    border: 0;
    text-align: center;
    background-color: #fcefa1;
}

/* Форма проверки #db_check_form и её дети */
#db_check_form {
    display: table;
}
#db_check_form > * {
    display: table-cell;
    vertical-align: middle;
    margin: 1px;
}

#db_check_form input, button {
    font-size: 150%;
}
#db_check_form span {
    font-size: 150%;
    padding: 0 5px 0 5px;
}
#db_check_form select {
    font-size: 100%;
}

#db_check_form button {
    font-size: 155%;
}

/* "Сетка" инпутов в форме обновления */
dl {
    padding: 0; margin: 0;
    padding-top: 10px;
}
dt {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    min-height: 1px;
    font-size: 120%;
}
dd {
    position: relative;
    top: -1px;
    margin-bottom: 5px;
}

/* Форма обновления */
#fieldset_working_form input, button, select {
    font-size: 100%;
}
#fieldset_report input{
    font-size: 100%;
}

legend {
    color: blue;
    font-size: 120%;
}

/* selectors */

input:focus, select:focus {
    border-color: #8a2be2;
}
input:focus {
    color: #dc143c;
}

/* Reports and logs */
#fieldset_report input {
    border-color: transparent;
}

/* link imitation in log */
.link-like {
    text-decoration: underline;
    color: #00008b;
}

.warning-message {
    color: red;
}